<h1>Welcome to Rock, Paper, Scissors!</h1>
<p>This is a game for two players!</p>
<ol>
  <li><p>Each player chooses a hand!</p></li>
  <li><p>Add /hand1/hand2 to the url!</p></li>
  <li><p>Find out who wins!</p></li>
</ol>
